<ion-view view-title="国防动员">
  <ion-content>
<!--
    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img ng-src="img/zzjg.png">
        <h2>组织机构</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/fgzc.png">
        <h2>法规政策</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/byzj.png">
        <h2>兵员征集</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/jbql.png">
        <h2>基本潜力</h2>
      </ion-item>

    </ion-list>

-->
  </ion-content>
</ion-view>