<ion-view view-title="军事训练">
  <ion-content>

    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img ng-src="img/tzjh.png">
        <h2>通知计划</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/xlfg.png">
        <h2>训练法则</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/zlcx.png">
        <h2>资料查询</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/xlkh.png">
        <h2>训练考核</h2>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>