<ion-view view-title="用户注册" hide-nav-bar="true" class="signup-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1 > Sign up </h1>
    </div>

    <div class="login-form">
      <div class="card">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="form.username" placeholder="Necessary">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="form.password" placeholder="Necessary">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="form.email" placeholder="Optional">
          </label>
        </div>
      </div>


      <div class="padding-left padding-right">
        <button class="button button-block action-button" ng-class="{'button-positive': !form.signingUp, 'button-balanced': form.signingUp}" ng-click="submitForm(form.username, form.password, form.email)">
           Sign up
        </button>
      </div>
    </div>
    <div class="padding signup-opt" ng-click="goToLogin()">
      Have an account? Sign in!
    </div>

  </ion-content>
</ion-view>