.margin {
    margin - left: 9px;
    margin - right: 9px;
}
.icon-actions {
    font-size: 23px;
}
.checkbox {
    vertical-align: middle;
}
.actions {
    float: right;
}
.item-text-wrap {
    overflow: auto;
}
.ion-checkmark-circled.icon-actions.margin
{
  margin-right: 35px;
}

#info-up {
  border-top: 4px solid #f06336;}

#info-posts{
  border-top: 4px solid #246ce7;
}
