.margin {
    margin - left: 9px;
    margin - right: 9px;
}
.icon-actions {
    font-size: 23px;
}
.checkbox {
    vertical-align: middle;
}
.actions {
    float: right;
}
.item-text-wrap {
    overflow: auto;
}

.ion-checkmark-circled.icon-actions.margin{
  margin-right: 35px;
}

.posts .content  .card .item{
    border-top: 4px solid #4f8ef7;
}

.posts .content .card .item.important{
    border-top: 4px solid #d2173e;
  }
