<ion-view view-title="国防动员">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left">
        <i class="icon ion-network"></i>
        组织结构
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-archive"></i>
        政策法规
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-person-add"></i>
        兵员征集
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-ribbon-b"></i>
        基本潜力
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
