<ion-view view-title="教育管理">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>

    <ion-list>
      <ion-item class="item-thumbnail-left">
        <img ng-src="img/jjtz.png">
        <h2>通知计划</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/jyzl.png">
        <h2>教育资料</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/fgtl.png">
        <h2>法规条令</h2>
      </ion-item>

      <ion-item class="item-thumbnail-left">
        <img ng-src="img/cgjl.png">
        <h2>成果交流</h2>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>