<ion-view view-title="情报信息">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left">
        <i class="icon ion-compose"></i>
        情报上报
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-clipboard"></i>
        情报浏览
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-edit"></i>
        情报编辑
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-filing"></i>
        情报归档
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-trash-a"></i>
        情报删除
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-aperture"></i>
        拍照上传
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
