<ion-view view-title="详情">
  <ion-content>
    <div>
      <div class="item item-divider item-positive">
        <h2 class="light">{{post.title}}</h2>
        <i class="icon ion-ios-person"></i>
          {{post.user}}
        <span class="item-note light">
          {{post.date}}
        </span>
      </div>
      <div class="item item-text-wrap">
        {{post.content}}
      </div>
    </div>

    <ion-list>
      <div ng-repeat="comment in post.comments" class="card">
        <div class="item item-divider item-positive">
          {{comment.user}}
          <span class="item-note light">
            {{comment.date}}
          </span>
        </div>
        <div class="item item-text-wrap">
          {{comment.content}}
        </div>
      </div>
    </ion-list>
  </ion-content>



  <!-- <div class="row">
       <div class="col col-25"><button class="button">  <i class="icon ion-loading-c"></i> Loading...</button></div>


        <div class="col col-25"><a class="button button-icon icon ion-settings"></a></div>


       <div class="col col-25"><a class="button button-icon icon ion-settings"></a></div>


      <div class="col col-25"><a class="button button-icon icon ion-settings"></a></div>
</div> -->

  <div class="tabs tabs-positive tabs-icon-only tabs-icon-top">
    <a class="tab-item" ng-click="makeComment()"><i class="icon ion-compose"></i>评论</a>
    <a class="tab-item" ng-click="Like()">
      <i class="icon ion-ios-heart" ng-if="isLike()"></i>
      <i class="icon ion-ios-heart-outline" ng-if="!isLike()"></i>
      {{post.likes.length >0?post.likes.length: "赞" }}
    </a>
    <a class="tab-item" ng-if="isCreater()" ng-click="showDeleteConfirm()"><i class="icon ion-trash-b"></i>删除</a>
  </div>





</ion-view>
