<ion-view hide-nav-bar="true">
   <ion-header-bar class="bar-positive">
       <a class="button button-clear  ion-chevron-left" href="#/sidemenu/tabs/one"></a>
      <h1 class="title">发言</h1>
   </ion-header-bar>


<ion-content  class="has-header padding">

<div class="list card">

<div class="item item-input">
<textarea  style="height:200px;" placeholder="请输入消息内容"></textarea>
</div>

<div class="item tabs tabs-icon-left tabs-secondary">
  <a class="tab-item" href="#">
    <i class="icon ion-thumbsup"></i>
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-ios-camera"></i>
  </a>
  <a class="tab-item" href="#">
    <i class="icon ion-thumbsup"></i>
  </a>
</div>

<div class="item">
<ion-scroll direction="x">
          <div id="repairs-imgs">
              <ion-item ng-repeat="image in createImgs" class=" item imgs-img">
                <div class="item-avatar" ng-click="openModal(image.url)">
                    <img ng-src="{{image.url}}"  >
                </div>
              </ion-item>
          </div>
</ion-scroll>
</div>

<div class="item row">
<div class="col">
<div class="item item-checkbox">
<label class="checkbox">
  <input type="checkbox">
</label>
<p> 匿名发送</p>
</div>
</div>

<div class="col">
<div class="item item-checkbox">
<label class="checkbox">
  <input type="checkbox">
</label>
<p>紧急上报</p>
</div>
</div>
</div>

<div class="item">
 <button class="button button-block button-balanced">
   发送
 </button>
</div>

</div>
 </ion-content>
</ion-view >
