<ion-view view-title="{{post.title}}">
  <ion-content>
    <div>
      <div class="item item-divider item-positive">
        <i class="icon ion-ios-person"></i> {{post.user}}
        <span class="item-note light">
          {{post.date}}
        </span>
      </div>
      <div class="item item-text-wrap">
        {{post.content}}
      </div>
    </div>

    <ion-list>
      <div ng-repeat="comment in post.comments" class="card">
        <div class="item item-divider item-positive">
          {{comment.user}}
          <span class="item-note light">
            {{comment.date}}
          </span>
        </div>
        <div class="item item-text-wrap">
          {{comment.content}}
        </div>
      </div>
    </ion-list>
  </ion-content>



  <!-- <div class="row">
       <div class="col col-25"><button class="button">  <i class="icon ion-loading-c"></i> Loading...</button></div>


        <div class="col col-25"><a class="button button-icon icon ion-settings"></a></div>


       <div class="col col-25"><a class="button button-icon icon ion-settings"></a></div>


      <div class="col col-25"><a class="button button-icon icon ion-settings"></a></div>
</div> -->

  <div class="tabs tabs-positive tabs-icon-only tabs-icon-top">
    <a class="tab-item" ng-click="showPopup()"><i class="icon ion-compose"></i>评论</a>
    <a class="tab-item">
      <i class="icon ion-ios-heart-outline"></i>赞
    </a>
    <a class="tab-item">
      <i class="icon ion-ios-heart"></i>赞
    </a>
  </div>





</ion-view>
