<ion-view view-title="紧急上报">
  <ion-nav-buttons side="right">
  <a class="button button-clear" href="#/posts">
    <i class="icon ion-plus">发布新帖</i>
  </a>
</ion-nav-buttons>
  <ion-content>
    <!-- <ion-refresher on-refresh="doRefresh()"></ion-refresher> -->
  	<ion-list can-swipe="true">
  		<ion-item ng-repeat="comment in comments" href="#/commentview">
      
        <div class="row">
          <div class="col"><p>{{comment.name}}</P></div>
        </div>
        <div class="row">
          {{comment.content}}
        </div>
        <div class="row">
          <div class="col col-67">2015-7-9</div>
          <div class="col"><a class="button button-clear button-positive" href="#/commentview">查看（10）</a></div>
          <div class="col"><a class="button button-clear button-positive" href="#/commentview">回复（0）</a></div>

        </div>

  		</ion-item>
  	</ion-list>

  	<!-- <ion-infinite-scroll
  	ng-if="moreDataExists()"
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll> -->
  </ion-content>
</ion-view>
