<!-- <ion-view >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->



  <ion-tabs class="tabs-icon-top  tabs-top  tabs-striped tabs-color-active-positive">

    <!-- Dashboard Tab -->
    <ion-tab title="紧急上报" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/sidemenu/tabs/one">
      <ion-nav-view name="tab-one"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="日常上报" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/sidemenu/tabs/two">
      <ion-nav-view name="tab-two"></ion-nav-view>
    </ion-tab>





  </ion-tabs>

<!-- </ion-view> -->
