<ion-tabs class="tabs-top tabs-positive tabs-striped tabs-icon-top">
  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>

        <ion-tab title="通知计划" icon="ion-home" ui-sref="sidemenu.tabs.tzjh">
          <ion-nav-view name="tzjh"></ion-nav-view>
        </ion-tab>
        <ion-tab title="训练法规" icon="ion-home" ui-sref="sidemenu.tabs.xlfg">
          <ion-nav-view name="xlfg"></ion-nav-view>
        </ion-tab>
        <ion-tab title="资料查询" icon="ion-home" ui-sref="sidemenu.tabs.zlcx">
          <ion-nav-view name="zlcx"></ion-nav-view>
        </ion-tab>

        <ion-tab title="训练考核" icon="ion-home" ui-sref="sidemenu.tabs.xlfg">
          <ion-nav-view name="xlkh"></ion-nav-view>
        </ion-tab>
</ion-tabs>
