<ion-view view-title="通知计划">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div class="item item-icon-left item-icon-right" ui-sref="yulan">
        <i class="icon ion-clipboard"></i>训练通知
        <i class="icon ion-ios-cloud-download-outline"></i>
      </div>
      <div class="item item-icon-left item-icon-right" ui-sref="yulan">
        <i class="icon ion-clipboard"></i>训练通知
        <i class="icon ion-ios-cloud-download-outline"></i>
      </div>
      <div class="item item-icon-left item-icon-right" ui-sref="yulan">
        <i class="icon ion-clipboard"></i>专武民兵干部集训通知
        <i class="icon ion-ios-cloud-download-outline"></i>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">版权所有：扬州军分区</div>
  </div>
</ion-view>
