<ion-view view-title="训练法规">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>最高人民法院关于审理破坏公用电信设施刑事案件具体应用法律若干问题的解释
        <i class="icon ion-ios-search " ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>中华人名共和国军事设施保护法实施办法
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>中华人民共和国电信条例相关条款
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>中国人民解放军点此频道管理条例
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>邮电部关于损坏通信线路
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>我国学生军事训练有关法律法规及重要文件节录
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>国务院、中央军委关于保护通信线路的规定
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
    </div>



  </ion-content>
  <div class="bar bar-footer bar-balanced">
  <div class="title">版权所有：扬州军分区</div>
</div>
</ion-view>
