<ion-view>
  <ion-header-bar class="bar-positive">
  <a class="button button-clear ion-ios-arrow-back" ui-sref="sidemenu.tabs.tzjh"></a>
     <h1 class="title">预览</h1>
  </ion-header-bar>
  <ion-content>
    为维护公用电信的安全和通讯管理秩序，依法惩治破坏公用电信设施犯罪活动。
  </ion-content>
  <div class="tabs tabs-stable  tabs-icon-top">
  <a class="tab-item"><i class="icon ion-arrow-up-a positive"></i>上页</a>
  <a class="tab-item"><i class="icon ion-arrow-down-a positive"></i>下页</a>
  <a class="tab-item"><i class="icon ion-android-home positive"></i>首页</a>
  <a class="tab-item"><i class="icon ion-forward positive"></i>跳转</a>
 </div>
</ion-view>
