<ion-view view-title="资料查询">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="list">
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>指挥体制
        <i class="icon ion-ios-search " ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>着力加强基层武装部建设
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>用优良作风为强军目标提供坚强保证
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>围绕应急赢战强队伍
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>提高预备役部队实战化训练水平
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>民兵队伍要动态建常态用
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>坚持把发展军事职业教育作为战略性基础工程
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>用好不穿军装的兵
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>构建后辈力量遂行多样化任务长效机制
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>
      <div class="item item-icon-left item-icon-right">
        <i class="icon ion-clipboard"></i>对在军事训练中做好预备役部队的思想政治工作
        <i class="icon ion-ios-search" ui-sref="yulan"></i>
      </div>

    </div>



  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="title">版权所有：扬州军分区</div>
  </div>
</ion-view>
